.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.select {
  border-radius: 40px;
  width: 300px;
  margin: 3rem;
  padding: 1rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.grid-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: space-around;
  color: #000;
}
.grid-container > .grid.up
{
  color: green;
}
.grid-container > .grid.down
{
  color: red;
}
h2
{
  margin-top: 0px;
}
small
{
  font-size: 10px;
}
.header 
{
  overflow: hidden;
  background-color: #0080ff;
  padding: 20px 10px;
}